unpackaged/packages/simple-event/force-app/main/default/flows/cUnite_Campaign_Global_Signup_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_Button</name>
        <label>Submit Button</label>
        <locationX>1230</locationX>
        <locationY>515</locationY>
        <actionName>FlowToolKit__Button</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Set_Form_Defaults</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>buttons</name>
            <value>
                <elementReference>buttons</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bypassValidation</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>iconName</name>
            <value>
                <stringValue>utility:forward</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>label</name>
            <value>
                <elementReference>buttonLabel_SubmitRegistration</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>brand</stringValue>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>buttons</assignToReference>
            <name>buttons</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Success_Message</name>
        <label>Success Message</label>
        <locationX>2505</locationX>
        <locationY>281</locationY>
        <actionName>FlowToolKit:DisplayToastMessage</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Confirmation_Screeen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>We received your reservation.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>dismissible</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>variant</name>
            <value>
                <stringValue>success</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_existing_member_Id</name>
        <label>Set existing member Id</label>
        <locationX>2340</locationX>
        <locationY>50</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberForm.recordVisibleFields.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExistingCampaignMemeber.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberForm.recordVisibleFields.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMemberStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Set Campaign Member, and Guest Lead Defaults</description>
        <name>Set_Form_Defaults</name>
        <label>Set Form Defaults</label>
        <locationX>1413</locationX>
        <locationY>382</locationY>
        <assignmentItems>
            <assignToReference>getCampaignMember.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCampaign.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getCampaignMember.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CampaignMemberStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadGuestTemplate.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New Guest</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Form_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Lead requires Company, set if not provided.</description>
        <name>Set_Lead_Defaults</name>
        <label>Set Lead Defaults</label>
        <locationX>1758</locationX>
        <locationY>202</locationY>
        <assignmentItems>
            <assignToReference>LeadFormCMP.recordVisibleFields.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LeadFormCMP.recordVisibleFields.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lead_Source</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Process_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Campaign_Member_Values</name>
        <label>Set New Campaign Member Values</label>
        <locationX>2337</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>CampaignMemberForm.record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CampaignMemberForm.record.LeadId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getLead.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Campaign_Member</name>
        <label>Check Campaign Member</label>
        <locationX>2329</locationX>
        <locationY>291</locationY>
        <defaultConnector>
            <targetReference>Set_New_Campaign_Member_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Insert (without form)</defaultConnectorLabel>
        <rules>
            <name>Update_Member_with_form_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingCampaignMemeber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignMemberForm.recordVisibleFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_existing_member_Id</targetReference>
            </connector>
            <label>Update (with form values)</label>
        </rules>
        <rules>
            <name>Update_Member_without_form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingCampaignMemeber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignMemberForm.recordVisibleFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_existing_member_Id</targetReference>
            </connector>
            <label>Update (without form)</label>
        </rules>
        <rules>
            <name>Insert_Member_with_form_values</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getExistingCampaignMemeber</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CampaignMemberForm.recordVisibleFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_New_Campaign_Member_Values</targetReference>
            </connector>
            <label>Insert (with form values)</label>
        </rules>
    </decisions>
    <decisions>
        <description>Validate if a Contact was found. If not, check for a Lead record.</description>
        <name>Check_Contact</name>
        <label>Check Contact</label>
        <locationX>486</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>getLead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getCampaign</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This Flow can process both Leads and Contacts if the form is prefilled with a Contact.Id then process it as a Contact. Else process as a Lead.</description>
        <name>Contact_Lead_Switch</name>
        <label>Contact/Lead Switch</label>
        <locationX>1750</locationX>
        <locationY>383</locationY>
        <defaultConnector>
            <targetReference>Set_Lead_Defaults</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Process Lead</defaultConnectorLabel>
        <rules>
            <name>Process_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Found</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Process_Contact_Dupe_Checker</targetReference>
            </connector>
            <label>Process Contact</label>
        </rules>
    </decisions>
    <description>This Flow can be used as a Global sign-up form: Events, Mailing List, etc</description>
    <environments>Default</environments>
    <formulas>
        <name>buttonLabel_SubmitRegistration</name>
        <dataType>String</dataType>
        <expression>BlankValue({!getCampaign.cUnite_Form_Submit_Button_Label__c},&apos;Submit&apos;)</expression>
    </formulas>
    <formulas>
        <description>Set dynamically on the related Campaign</description>
        <name>CampaignMemberFormQualifiedApiName</name>
        <dataType>String</dataType>
        <expression>BlankValue({!getCampaign.cUnite_Form_Override_Campaign_Member__c},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>CampaignMemberStatus</name>
        <dataType>String</dataType>
        <expression>BlankValue({!getCampaign.cUnite_Form_Submission_Member_Status__c},Text({!getCampaignMember.Status}))</expression>
    </formulas>
    <formulas>
        <description>Set dynamically on the related Campaign.</description>
        <name>ContactFormQualifiedApiName</name>
        <dataType>String</dataType>
        <expression>BlankValue({!getCampaign.cUnite_Form_Override_Contact__c},&apos;Cont_b07c5gbh3_b07c5gdbe3h06o3l06hep3YAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>Lead_Company</name>
        <dataType>String</dataType>
        <expression>BlankValue({!LeadFormCMP.recordVisibleFields.Company},BlankValue({!getLead.Company},{!LeadFormCMP.recordVisibleFields.LastName}+&apos; Household&apos;))</expression>
    </formulas>
    <formulas>
        <name>Lead_Source</name>
        <dataType>String</dataType>
        <expression>BlankValue(Text({!LeadFormCMP.record.LeadSource}),{!getCampaign.Name})</expression>
    </formulas>
    <formulas>
        <description>Set dynamically on the related Campaign</description>
        <name>LeadFormQualifiedApiName</name>
        <dataType>String</dataType>
        <expression>BlankValue({!getCampaign.cUnite_Form_Override_Lead__c},&apos;Lead_b07b3k439_b07b3k5mk3h06o3l06hep3YAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>leadId</name>
        <dataType>String</dataType>
        <expression>BlankValue({!getLead.Id},&apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>LeadOrContactId</name>
        <dataType>String</dataType>
        <expression>BlankValue({!getContact.Id},{!getLead.Id})</expression>
    </formulas>
    <interviewLabel>Campaign (Global Signup Form) {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>Campaign (Global Signup Form)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Campaign_Member</name>
        <label>Insert Campaign Member</label>
        <locationX>2505</locationX>
        <locationY>533</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>CampaignMemberForm.record</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Get the Campaign either from URL or Lightning Record Page recordId.</description>
        <name>getCampaign</name>
        <label>getCampaign</label>
        <locationX>907</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaignMember</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUrlParametersCMP.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>If prefilled, get the existing campaign member record. This allows for the forms to be updated.</description>
        <name>getCampaignMember</name>
        <label>getCampaignMember</label>
        <locationX>1049</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_Button</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadOrContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>First, try to find Contact passed into URL params. pv1=Contact.Id pv2=Contact.AccountId</description>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>331</locationX>
        <locationY>377</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUrlParametersCMP.pv1</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUrlParametersCMP.pv2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>After Processing Contact or Lead match for existing Campaign Member</description>
        <name>getExistingCampaignMemeber</name>
        <label>getExistingCampaignMemeber</label>
        <locationX>2193</locationX>
        <locationY>289</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Campaign_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCampaign.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadOrContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LeadOrContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>First, try to find Contact passed into URL params. pv1=Lead.Id pv2=Lead.Email</description>
        <name>getLead</name>
        <label>getLead</label>
        <locationX>744</locationX>
        <locationY>272</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getCampaign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUrlParametersCMP.pv1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetUrlParametersCMP.pv2</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>2505</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Success_Message</targetReference>
        </connector>
        <inputReference>CampaignMemberForm.recordVisibleFields</inputReference>
    </recordUpdates>
    <screens>
        <name>Confirmation_Screeen</name>
        <label>Confirmation Screeen</label>
        <locationX>2691</locationX>
        <locationY>281</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;{!getCampaign.cUnite_Form_Confirmation_Message__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Form_Screen</name>
        <label>Form Screen</label>
        <locationX>1594</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Lead_Switch</targetReference>
        </connector>
        <fields>
            <name>CampaignCMP</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Campaign</typeValue>
            </dataTypeMappings>
            <extensionName>FlowToolKit:flowForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interviewGuid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interviewStartDateTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serverURL</name>
                <value>
                    <elementReference>$Api.Enterprise_Server_URL_140</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>elementApiName</name>
                <value>
                    <stringValue>CampaignCMP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedMergeRecordField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Campaign</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>record</name>
                <value>
                    <elementReference>getCampaign</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formQualifiedApiName</name>
                <value>
                    <stringValue>Camp_b088a96dj_b088a98853h06o3l0I9xDpYAJ</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>LeadFormCMP</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Lead</typeValue>
            </dataTypeMappings>
            <extensionName>FlowToolKit:flowForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interviewGuid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interviewStartDateTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serverURL</name>
                <value>
                    <elementReference>$Api.Enterprise_Server_URL_140</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>elementApiName</name>
                <value>
                    <stringValue>LeadFormCMP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedMergeRecordField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>record</name>
                <value>
                    <elementReference>getLead</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dynamicFormSelectorEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formQualifiedApiName</name>
                <value>
                    <elementReference>LeadFormQualifiedApiName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ContactFormCMP</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>FlowToolKit:flowForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interviewGuid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interviewStartDateTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serverURL</name>
                <value>
                    <elementReference>$Api.Enterprise_Server_URL_140</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>elementApiName</name>
                <value>
                    <stringValue>ContactFormCMP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedMergeRecordField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>record</name>
                <value>
                    <elementReference>getContact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dynamicFormSelectorEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formQualifiedApiName</name>
                <value>
                    <elementReference>ContactFormQualifiedApiName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Contact_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GuestRepeaterCMP</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Lead</typeValue>
            </dataTypeMappings>
            <extensionName>FlowToolKit:flowFormRepeat</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interviewGuid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interviewStartDateTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serverURL</name>
                <value>
                    <elementReference>$Api.Enterprise_Server_URL_140</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>elementApiName</name>
                <value>
                    <stringValue>GuestRepeaterCMP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecords</name>
                <value>
                    <elementReference>GuestRepeaterCMP.selectedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>prefillRecords</name>
                <value>
                    <elementReference>GuestRepeaterCMP.prefillRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formQualifiedApiName</name>
                <value>
                    <stringValue>Lead_b07b3k439_b07b3k5mk3h06o3l06hep3YAA</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableAllHeaders</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeOverrideName</name>
                <value>
                    <stringValue>FlowToolKit__Form_Default</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showHeader</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>themeHeaderName</name>
                <value>
                    <stringValue>FlowToolKit__Form_Default</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowNew</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowDelete</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>newButtonLabel</name>
                <value>
                    <elementReference>buttonLabel_Add_Guest</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>wrapInAccordion</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accordionTitle</name>
                <value>
                    <elementReference>title_Accordian_Guest_Template</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTemplate</name>
                <value>
                    <elementReference>LeadGuestTemplate</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCampaign.cUnite_Form_Allow_Guest_Registration__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>CampaignMemberForm</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>CampaignMember</typeValue>
            </dataTypeMappings>
            <extensionName>FlowToolKit:flowForm</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interviewGuid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interviewStartDateTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>serverURL</name>
                <value>
                    <elementReference>$Api.Enterprise_Server_URL_140</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>elementApiName</name>
                <value>
                    <stringValue>CampaignMemberForm</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedMergeRecordField</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>object</name>
                <value>
                    <stringValue>CampaignMember</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>record</name>
                <value>
                    <elementReference>getCampaignMember</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dynamicFormSelectorEnabled</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>formQualifiedApiName</name>
                <value>
                    <elementReference>CampaignMemberFormQualifiedApiName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>getCampaign.cUnite_Form_Override_Campaign_Member__c</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DockedButtons</name>
            <extensionName>FlowToolKit:buttonsCustom</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>interviewGuid</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>interviewStartDateTime</name>
                <value>
                    <elementReference>$Flow.InterviewStartTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>elementApiName</name>
                <value>
                    <stringValue>DockedButtons</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <elementReference>buttons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>docked</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>getUrlParameters</name>
        <label>getUrlParameters</label>
        <locationX>178</locationX>
        <locationY>377</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getContact</targetReference>
        </connector>
        <fields>
            <name>GetUrlParametersCMP</name>
            <extensionName>FlowToolKit:getUrlParameters</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>52</locationX>
        <locationY>229</locationY>
        <connector>
            <targetReference>getUrlParameters</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>This sub-flow will update the prefilled Contact. If no Contact.Id is included the sub-flow will check for duplicates before inserting.</description>
        <name>Process_Contact_Dupe_Checker</name>
        <label>Process Contact</label>
        <locationX>2007</locationX>
        <locationY>382</locationY>
        <connector>
            <targetReference>getExistingCampaignMemeber</targetReference>
        </connector>
        <flowName>FlowToolKit__Contact_Duplicate_Checker</flowName>
        <inputAssignments>
            <name>contactRecord</name>
            <value>
                <elementReference>ContactFormCMP.recordVisibleFields</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>getContact</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <description>This checks for existing Contact records. If no matching records are found, a new Lead is inserted and returned.</description>
        <name>Process_Lead</name>
        <label>Process Lead</label>
        <locationX>2013</locationX>
        <locationY>202</locationY>
        <connector>
            <targetReference>getExistingCampaignMemeber</targetReference>
        </connector>
        <flowName>FlowToolKit__Lead_Contact_Duplicate_Checker</flowName>
        <inputAssignments>
            <name>leadRecord</name>
            <value>
                <elementReference>LeadFormCMP.recordVisibleFields</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>getContact</assignToReference>
            <name>contactRecord</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>getLead</assignToReference>
            <name>leadRecord</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>buttonLabel_Add_Guest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Add Additional Guest</stringValue>
        </value>
    </variables>
    <variables>
        <description>Custom Button Collection</description>
        <name>buttons</name>
        <apexClass>FlowToolKit__Button</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>This gets passed into the repeater screen component</description>
        <name>LeadGuestTemplate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <description>Use for Lightning Record Pages</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>title_Accordian_Guest_Template</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>{{FirstName}} {{LastName}}</stringValue>
        </value>
    </variables>
</Flow>
